.my-stats-bkg {
  background: var(--orange);
  color: var(--white);
}

.stats-name {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: var(--orange);
  background: var(--pearl);
  border-radius: 50px;
  grid-column: span 3;
  padding: 1px 10px;
  width: 50%;
}

.stats-arena {
  font-size: 1.2em;
  text-align: left;
  display: block;
  padding: 0px 20px 20px;
  box-sizing: border-box;
}

.stats-distance {
  font-size: 1.4em;
  font-weight: 500;
  text-align: right;
}

.stats-subtitle-box {
  background: var(--ash);
  height: 50px;
  padding: 15px 0 0 20px;
  color: var(--white);
  box-sizing: border-box;
  margin: 0px 0 30px 0;
}

.stats-performance-box {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  margin: 0px 20px 40px;
}

.stats-small-label {
  text-align: center;
  font-size: 1em;
  padding-top: 7px;
  color: var(--ash);
}

.stats-figure {
  font-size: 1.6em;
  font-weight: 200;
  align-self: center;
  text-align: left;
  padding-left: 7px;
}

.stats-icon {
  align-self: center;
  justify-self: right;
  padding-right: 7px;
  height: 40px;
}

.stats-label {
  grid-column: span 2;
}

.stats-playtime-box {
  background: var(--pearl);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  padding: 20px 20px 15px;
  margin: 0 20px 35px;
  color: var(--ash);
  align-items: center;
}

.stats-orange-text {
  text-align: center;
  grid-column: span 4;
}

.playtime-icon {
  height: 30px;
  padding-right: 15px;
  justify-self: center;
}

.playtime-label {
  grid-column: span 2;
}

.playtime-figure {
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--orange);
}

.avg-max-box {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  margin: 0px 20px 30px;
  align-items: center;
}

.avg-max-subtitle {
  grid-column: span 4;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-align: center;
  padding: 7px 5px;
  border: 1px solid var(--pearl);
  border-radius: 50px;
  margin: 30px 0 12px;
}

.label-avg {
  grid-column: span 2;
  color: var(--black);
  font-size: 0.9em;
  justify-self: left;
}

.average {
  justify-self: right;
  padding-right: 5px;
}

.stats-history-box {
  justify-content: center;
  margin: 20px 20px;
}

.graph-text {
  color: var(--black);
  font-size: 1em;
  font-weight: 600;
  font-family: "Kodchasan-Regular";
}

.stats-ranking-box {
  background: var(--pearl);
  border-radius: 15px;
  margin: 30px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 15px;
  padding: 20px 10px;
  text-align: center;
  color: var(--ash);
  width: calc(100%-30px);
}

.stats-ranking-text {
  grid-column: span 2;
  padding-bottom: 10px;
}

.stat-rank-figure {
  font-size: 1.4em;
  font-weight: 200;
  color: var(--orange);
}

.text-08 {
  font-size: 0.9em;
  padding: 15px 0 5px;
}

.stats-standing-box {
  background: var(--pearl);
  margin: 30px 20px 20px;
  border-radius: 15px;
  height: 120px;
}

.stat-rank-label {
  text-align: right;
}

.white-icon-tr {
  height: 30px;
  opacity: 0.4;
  justify-self: center;
}

.stats-titles {
  display: flex;
  justify-content: space-around;
  margin: 25px 20px;
  align-items: center;
  font-size: 1.2em;
  background: var(--pearl);
  color: var(--ash);
  border-radius: 50px;
}

.titles-icon {
  padding-left: 20px;
}

.titles-won {
  font-size: 0.9em;
}

.titles {
  color: var(--orange);
  background: var(--pearl);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.4em;
}

.stats-titles-box {
  margin: 30px 20px 20px;
  background: var(--pearl);
  color: var(--ash);
  border-radius: 15px;
  padding: 20px 15px;
  text-align: left;
}

.stats-title-heading {
  text-align: center;
  padding-bottom: 15px;
}

.titles-rows {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 5px 3px;
}

.title-date {
  font-size: 0.9em;
  color: var(--grey);
  text-align: right;
}

.title-efficiency {
  color: var(--orange);
  font-weight: 500;
  text-align: right;
}
